html{
  background-color: #000000;
}
body{
  margin: 0;
  padding: 0;
  position: absolute;
}
div.cabecera {
  margin: 0;
  padding-top: 100px;
background-image: url(img/1.jpg);
height: 150px;

}
.a{
font-size: 30pt;
font-family: coso;
color: red;
top: -55px;
  position: relative;
text-align: center;
}

.b{
  font-size: 25pt;
  font-family: cosa;
  color: green;
  top: -55px;
    position: relative;
  text-align: center;
}

@font-face {
font-family: "coso";
src: url("1.ttf");}

@font-face {
font-family: "cosa";
src: url("2.ttf");}

img{
  margin-bottom: 25px;
  margin-top:25px;

}
